title = "About us"
url = "/about"
layout = "default"
is_hidden = 0

[Home]

[About]
==
<main>
    <div class="about">
        <div class="header--primary">
            <h1>Haqqımızda</h1>
        </div>

        <div class="about__main">
            <div class="container">
                {% for rec in about %}
                <div class="about__header">
                    <h2 class="about__header--main">Edu Pro</h2>
                    <p class="about__header--sub">{{ rec.description }}</p>
                </div>

                <div class="about__content">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-5">
                            <div class="about__image">
                                <img src="{{ 'assets/img/edupro-2.jpg'|theme }}" alt="About main image">
                            </div>
                        </div>
                            <div class="col-12 col-md-6">
                                {{ rec.content |raw }}
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="preferences u-margin-top-biggest u-margin-bottom-huge">
                    <div class="container">
                        <div class="owl-preferences">
                            <div class="owl-carousel owl-theme">
                                {% for rec in careers %}
                                    <div class="item">
                                        <div class="preference preference--1">
                                            <img src="{{ rec.logo.path }}" alt="preference 1" class="preference__img">
                                            <h4 class="preference__header">{{ rec.title }}</h4>
                                            <p class="preference__paragraph">{{ rec.description |raw }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
