title = "Apply"
url = "/apply"
layout = "default"
is_hidden = 0

[Home]

[Apply]
==
<main>
    <div class="appeal">
        <div class="header--primary">
            <h1>Müraciət Forması</h1>
        </div>

        <div class="appeal__main u-margin-top-biggest">
            <div class="container">
                <form data-request="onApply" data-request-validate
                      data-request-flash>
                    <div class="appeal__form">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <input name="name" type="text" class="appeal__name" placeholder="Adınız">
                                <span class="text-danger" data-validate-for="name"></span>
                            </div>
                            <div class="col-12 col-md-3">
                                <input name="surname" type="text" class="appeal__surname" placeholder="Soyadınız">
                                <span class="text-danger" data-validate-for="surname"></span>
                            </div>
                            <div class="col-12 col-md-3">
                                <input name="phone" type="text" class="appeal__phone" placeholder="Əlaqə nömrəniz">
                            </div>
                            <div class="col-12 col-md-3">
                                <input name="email" type="email" class="appeal__email" placeholder="E-poçt adresiniz" required>
                                <span class="text-danger" data-validate-for="email"></span>
                            </div>
                            <div class="col-12 col-md-6 mt-2">
                                <div class="appeal__select mb-3">
                                    <select name="position" class="js-example-placeholder-single js-states form-control">
                                        <option></option>
                                        {% for rec in position %}
                                            <option value="{{ rec.name }}">{{ rec.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="text-danger" data-validate-for="position"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-2">
                                <i class="icofont-circled-up"></i>
                                <button type="submit" class="appeal__btn">Qeydiyyatı tamamla</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="courses__elements  u-padding-bottom-medium">
                    <h3 class="appeal__header u-margin-top-biggest">Tədris Proqramlarımız</h3>
                    <div class="owl-preferences">
                        <div class="owl-carousel owl-theme">
                            {% for rec in courses %}
                                <div class="item">
                                    <div class="courses__element courses__element--1">
                                        <img class="courses__icon" src="{{ rec.logo.path }}" alt="courses__icon">
                                        <h6 class="courses__name u-margin-top-medium"><a href="{{ 'course-detail'|page({ slug:rec.slug  }) }}">{{ rec.name }}</a></h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
