[viewBag]

==
<div class="contact">
        <div class="contact__phone contact__element contact__element--1">
            <i class=" contact__elem fas fa-mobile-alt"></i>
            <a href="tel:{{ this.theme.mobile }}" class=" contact__elem">{{ this.theme.mobile }}</a>
            <a href="tel:{{ this.theme.office }}" class=" contact__elem">{{ this.theme.office }}</a>
        </div>
        <div class="contact__email contact__element contact__element--2">
            <i class=" contact__elem fas fa-envelope"></i>
            <a class=" contact__elem" href="mailto:{{ this.theme.email }}">{{ this.theme.email }}</a>
            <a class=" contact__elem" href="mailto:{{ this.theme.sec_email }}">{{ this.theme.sec_email }}</a>
        </div>
        <div class="contact__location contact__element contact__element--3">
            <i class=" contact__elem fas fa-location-arrow"></i>
            <a target="_blank" href="http://maps.google.com/?q=50C Məmməd Araz, Bakı 1106, Азербайджан" class=" contact__elem">{{ this.theme.address }}</a>
        </div>

</div>
