<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{{ 'assets/libs/bootstrap/dist/js/bootstrap.min.js'|theme }}" type="text/javascript" charset="utf-8" async
        defer></script>
<script src="{{ 'assets/libs/owl.carousel/dist/owl.carousel.min.js'|theme }}" type="text/javascript" charset="utf-8"
        async defer></script>
<script src="{{ 'assets/libs/select2/dist/js/select2.min.js'|theme }}" type="text/javascript" charset="utf-8"></script>


<script src="{{ 'assets/js/all.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/libs/owl.carousel/dist/owl.carousel.js'|theme }}"></script>

<script type="text/javascript">
    $('#coursecar').owlCarousel({
        loop: true,
        margin: 10,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 4,
                nav: false
            },
        }
    });
</script>

<script>
    $('#students .owl-carousel').owlCarousel({
        autoplay: ($('.owl-2 .item').length > 2),
        mouseDrag: ($('.owl-2 .item').length > 2),
        loop:($('.owl-2 .item').length > 2),
        margin:0,
        nav: false,
        dots: false,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2,
                nav:true
            },
            1000:{
                items:2
            }
        }
    });
</script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
{#<script src="https://www.google-analytics.com/analytics.js" async defer></script>#}
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl_tIRv0tzVyO6Bd0mvC9EzqxQlUDDOtU&callback=initMap" async#}
        {#defer></script>#}

{% framework extras %} 
{% scripts %}

<script>
    /*
     * Implement nice invalid form fields
     */
    $(window).on('ajaxInvalidField', function (event, fieldElement, fieldName, errorMsg, isFirst) {
        var $field = $(fieldElement).closest('.form-group'),
            $help = $('<p />').addClass('help-block');
        if (!$field.length) {
            return;
        }
        event.preventDefault();
        if (errorMsg) {
            $help.text(errorMsg.join(', '));
        }
        $help.addClass('form-field-error-label');
        $field.addClass('has-error');
        // Prevent the next error alert only once
        $(window).one('ajaxErrorMessage', function (event) {
            event.preventDefault();
        });
        if ($('.form-field-error-label', $field).length > 0)
            return;
        $field.append($help);
        // Scroll to the form group
        if (isFirst) {
            $('html, body').animate({scrollTop: $field.offset().top - 100}, 500, function () {
                fieldElement.focus();
            });
        }
    });
    $(document).on('ajaxPromise', '[data-request]', function () {
        var $form = $(this).closest('form'),
            $help = $('.form-field-error-label', $form);
        if (!$form.length || !$help.length)
            return;
        $help.remove();
        $('.form-group.has-error', $form).removeClass('has-error');
    });
</script>
