<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="row">
                <div class="col-12 col-md-3 mb-3">
                    <div class="footer__about">
                        <h5 class="footer__header footer__about--header">Haqqımızda</h5>
                        <p class="footer__paragraph footer__about--paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                    <div class="footer__transitions">
                        <h5 class="footer__header footer__transitions--header">Keçidlər</h5>
                        <ul class="footer__list">
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Haqqımızda</a></li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Kurslar</a></li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Bizimlə Əlaqə</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                    <div class="footer__courses">
                        <h5 class="footer__header footer__courses--header">Kurslar</h5>
                        <ul class="footer__list">
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Digital
                                    Marketinq</a></li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Qrafik və Veb
                                    Dizayn</a></li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Proqramlaşdırma</a>
                            </li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> 3D Modelləşdirmə və
                                    Vizualizasiya</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                    <div class="footer__follow">
                        <h5 class="footer__header footer__follow--header">Bizi İzləyin</h5>
                        <ul class="footer__list">
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Facebook</a></li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> İnstagram</a></li>
                            <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__copyright">
        Copyright &copy; Avirtel 2019. Bütün Hüquqları Qorunur.
    </div>
</footer>