<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ 'assets/libs/bootstrap/dist/js/bootstrap.min.js'|theme }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ 'assets/libs/owl.carousel/dist/owl.carousel.min.js'|theme }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ 'assets/libs/select2/dist/js/select2.min.js'|theme }}" type="text/javascript" charset="utf-8" async defer></script>


<script src="js/all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ 'assets/libs/owl.carousel/dist/owl.carousel.js'|theme }}"></script>

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{

        }
    });
</script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl_tIRv0tzVyO6Bd0mvC9EzqxQlUDDOtU&callback=initMap" async
        defer></script>