<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__left">
                <div class="header__logo">
                    <a href="{{ 'home'|page }}"><img src="{{ 'assets/img/header__logo.png'|theme }}" alt="logo"></a>
                </div>
            </div>
            <div class="header__right">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__list-item"><a class="header__list_text active" href="{{ 'home'|page }}">Ana səhifə</a>
                        </li>
                        <li class="header__list-item"><a class="header__list_text" href="{{ 'about-us'|page }}">Haqqımızda</a></li>
                        <li class="header__list-item"><a class="header__list_text" href="{{ 'course'|page }}">Kurslar</a></li>
                        <li class="header__list-item"><a class="header__list_text" href="{{ 'contact'|page }}">Bizimlə Əlaqə</a></li>
                    </ul>
                </nav>

                <a class="header__register btn btn--animated" href="{{ 'apply'|page }}">Müraciət Et</a>
            </div>


            <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</header>
